<header id="confessionHeader">
	<center><h1>Confessions</h1></center>
</header>
<body>
<div id="column-left">
	<center>{{!-- {{name id goes here}} --}}</center>
	<br>
	<br>
	<center>Your Posts</center>
		<div id="relationshipsBox">
			<h2 align="left">Relationships</h2>
				Loren ipsum rutrum porta purus gravida sollictidun en ex sit lorobinfodsf dfksdfhdsfds fwef woiw4t4t3 toih34tdf dfhsd fc ds gsd sdfoi hghdsfgh eriwoifhgrshdf zihdshvisfhfkjdhfjz xjl voisd
		</div>

			<div id="countdownTimerLeft" align="right">
				(countdown timer)
			</div>
</div>

<div id="column-right">
	<br>
	<h2>Post Your Confession</h2>
		<div id="confessionsBox" align="center">
			<form action="/confessions" method="POST">
				<input type="text" placeholder="type your confession" name="confessionBox" value=""/>
				<input type="submit" value="Post"/>
			</form>

	<div id="schoolFeed" align="center">
		<h2>School</h2>
			{{!-- {{this is where we will have the school confession feed fill in}} --}}
	</div>
			<div id="countdownTimerSchool" align="right">
				(countdown timer)
			</div>

	<br>

	<div id="relationshipsFeed" align="center">
		<h2>Relationships</h2>
			{{!-- {{this is where we will have the relationships confession feed fill in}} --}}
	</div>

			<div id="countdownTimerRelationships" align="right">
				(countdown timer)
			</div>

	<br>

	<div id="workFeed" align="center">
		<h2>Work</h2>
			{{!-- {{this is where we will have the work confessions feed fill in}} --}}
	</div>
			<div id="countdownTimerWork" align="right">
				(countdown timer)
			</div>
</div>









</div>

</body>
<footer>
	<center>Made by: Terry, Nate and Bridjet -- General Assembly WDI 7, 2017</center>
</footer>
