<header id="confessionHeader">
	<center><h1>Confessions</h1></center>
</header>
<body>
<div id="column-left">
	<center>Your Name</center>
	<br>
	<br>
	<center>Your Posts</center>
		<div id="relationshipsBox">
			<h2 align="left">Relationships</h2>
				Loren ipsum rutrum porta purus gravida sollictidun en ex sit lorobinfodsf dfksdfhdsfds fwef woiw4t4t3 toih34tdf dfhsd fc ds gsd sdfoi hghdsfgh eriwoifhgrshdf zihdshvisfhfkjdhfjz xjl voisd
		</div>

			<div id="countdownTimerLeft" align="right">
				(countdown timer)
			</div>
</div>

<div id="column-right">
	<br>
	<h2>Post Your Confession</h2>
	<form action="/confessions" method="POST">
		<input type="text" placeholder="type your confession" name="confessionBox" value="">
			<input type="submit" value="submit"/>


</body>
<footer>
	<center>Made by: Terry, Nate and Bridjet -- General Assembly WDI 7, 2017</center>
</footer>
