{{!-- this is the top part that gives us tabs, and also how we will switch them over --}}
<div class="bod">
  <div class="form">
    <ul class="tab-group">
      <li class="tab active"><a href="#login">Log In</a></li>
      <li class="tab"><a href="#signup">Sign Up!</a></li>
    </ul>
  {{!-- this only appears after you try to log in --}}
    <div class="tab-content">
      <div id="login">
        {{#if failedLogin}}
          <h1>Oops! Try Again.</h1>
          <h3>Usercode And Password Incorrect</h3>
        {{else}}
          <h1>Welcome Back!</h1>
        {{/if}}
    {{!-- this shows within the tab box, and when you start typing it pops the new label above it, this starts on the tab that is for login--}}
        <form action="/registerLogin" method="POST">
          <div class="field-wrap">
            <label>
              <span class="oldLabel">Username</span><span class="req">*</span><span class="newLabel">Here's Johnny!</span>
            </label>
            <input type="text" name="username" required autocomplete="off"/>
          </div>          
          <div class="field-wrap">
            <label>
              <span class="oldLabel">Password</span><span class="req">*</span><span class="newLabel">Are You Sure?</span>
            </label>
            <input type="password" name="password" required autocomplete="off"/>
           </div>
      {{!-- comes up when you forgot to put a password in --}}          
            <p class="forgot"><a href="#">Forgot Password?</a></p>
      {{!-- the login button --}}          
            <button class="button button-block" name="button" value="login"/>Log In</button>
        </form>
      </div>
  {{!-- this is the start of the signup tab, the first block will be for your name, followed by last name. a place to add a picture url, give yourself a username and password--}}
      <div id="signup">   
        <h1>Sign Up</h1>
        <form action="/registerLogin" method="POST">
          <div class="top-row">
            <div class="field-wrap">
              <label>First Name<span class="req">*</span></label>
              <input type="text" name="firstName" required autocomplete="off"/>
            </div>
            <div class="field-wrap">
              <label>Last Name<span class="req">*</span></label>
              <input type="text" name="lastName" required autocomplete="off"/>
            </div>
          </div>
         {{!--    <div class="field-wrap">
              <label>
                <span class="oldLabel">Profile Picture URL</span><span class="newLabel">Say Cheese!</span>
              </label>
              <input type="text" name="profilePic" autocomplete="off"/>
            </div> --}}
            <div class="field-wrap">
              <label>
                <span class="oldLabel">Create A Username</span><span class="req">*</span><span class="newLabel">Make It A Good One</span>
              </label>
              <input type="text" name="username" required autocomplete="off"/>
            </div>
            <div class="field-wrap">
              <label>
                <span class="oldLabel">Set A Password</span><span class="req">*</span><span class="newLabel">Please Remember Me</span>
              </label>
              <input type="password" name="password" required autocomplete="off"/>
            </div>
            <p class="required">* Required</p>
            <button type="submit" class="button button-block" name="button" value="next"/>Next</button>
        </form>
      </div>
    </div>
  </div> 
</div>  